





body {


    height: 100vh;
    margin: 0em;
    padding: 0em;

    background-color: skyblue;

    display: flex;
    justify-content: center;
    align-items: center;

    
}


#contenedorGeneral {

    height: 36em;
    width: 24em;

    /* background-color: greenyellow; */
}

#parteSuperior {

    height: 20em;
    /* background-color: white; */


}

#parteSuperiorEncendido {

    height: 2.5em;
    background-color: darkgrey;
    border-radius: 1em 1em 0em 0em;
    display: flex;
    flex-direction: column;
}
#encendidoArriba {
    /* background-color: blue; */
    width: 24em;
    height: 1.25em;
    display: flex;
    flex-direction: row;
    
}
#rayaIzquierda {
    background-color: gainsboro;
    height: 1.25em;
    width: 0.25em;
    margin-left: 1.75em;

}
#onOff {
    background-color: gainsboro;
    border: 0.01em ridge black;
    margin-left: 0.75em;
    margin-top: 0.25em;
    width: 4.75em;
    height: 0.75em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#letraOnOff {
    
    margin-bottom: 0.05em;
    font-size: small;
    color: white;
      
}
#rayaDerecha{
    background-color: gainsboro;
    margin-left: 14.35em;
    width: 0.25em;
    height: 1.25em;

}
#encendidoAbajo {
    /* background-color: yellow; */
    width: 24em;
    height: 1.25em;
}
#rayaLarga {
    background-color: gainsboro;
    height: 0.25em;
    width: 24em;
}

#parteSuperiorPantalla {
    height: 14em;
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
}

#pantallaBordeIzquierdo {

    width: 2em;
    background-color: gray;
}

#pantallaCentral {

    width: 20em;
    /* background-color: orange; */
}

#pantallaCentralArriba {

    height: 3em;
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
}
#matrixIzquierda {
    background-color: purple;
    width: 6em;
    border-radius: 0.5em 0em 0em 0em;
    display: flex;
    flex-direction: column;
    
}
#azul {
    background-color: red;
    height: 0.15em;
    margin-left: 1em;
    margin-top: 1em;
    
}
#roja {
    background-color: blue;
    height: 0.15em;
    margin-left: 1em;
    margin-top: 0.5em;

}
#matrix {
    background-color: blue;
    width: 11em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#letraMatrix {
    color: white;
    font-size: x-small;
    margin-bottom: 0.5em;
    font-family: 'Courier New', Courier, monospace;
}
#matrixDerecha {
    background-color: green;
    width: 3em;
    border-radius: 0em 0.5em 0em 0em;
}
#azul2 {
    background-color: red;
    height: 0.15em;
    margin-right: 1em;
    margin-top: 1em;

}
#roja2 {
    background-color: blue;
    height: 0.15em;
    margin-right: 1em;
    margin-top: 0.5em;
}

#pantallaCentralCristal {

    height: 9em;
    /* background-color: gainsboro; */
    display: flex;
    flex-direction: row;

}

#botonBattery {

    width: 3em;
    background-color: purple;
    flex-direction: column;
}

#batteryArriba {
    background-color: blue;
    height: 2em;

}

#batteryCentral {
    background-color: brown;
    height: 2em;
}

#puntoBattery {
    background-color: gray;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

}
#iconoBattery {
    background: rgb(25,4,4);
    background: linear-gradient(90deg, rgba(25,4,4,1) 0%, rgba(70,19,19,1) 50%, rgba(172,9,9,1) 97%);
    height: 0.5em;
    width: 0.5em;
    margin-right: 1em;
    border-radius: 50%;
}
#letraBattery {
    background-color: gray;
    height: 1em;
    display: flex;
    justify-content: center;
    

}
#battery {
    background-color: gray;
    height: 0.5em;
    color: white;
    font-size: x-small;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    
}

#batteryAbajo {
    background-color: blue;
    height: 5em;


}

#lcd {

    width: 14em;
    background: rgb(1,8,2);
    background: linear-gradient(90deg, rgba(1,8,2,0.9726027397260274) 2%, rgba(8,46,12,1) 9%, rgba(10,61,15,0.9726027397260274) 51%, rgba(3,28,9,1) 96%, rgba(24,18,10,1) 99%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#nintendo {
    
    color: rgb(7, 1, 24);
    height: 3m;
    width: 5em;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace
    
}

#lcdDerecha {

    width: 3em;
    background-color: purple;
}

#pantallaCentralAbajo {

    height: 2em;
    /* background-color: moccasin; */
    display: flex;
    flex-direction: row;
}

#abajoIzquierda {
    width: 16em;
    background-color: red;
    border-radius: 0em 0em 0em 0.5em;

}

#abajoRadius {
    width: 4em;
    background-color: red;
    border-radius: 0em 0em 10em 0em;

}



#pantallaBordeDerecho {

    width: 2em;
    background-color: gray;
}

#parteSuperiorLogo {
    height: 3.5em;
    background-color: gray;
}

#parteCentral {

    height: 10em;
    background-color: yellow;
}

#parteInferior {

    height: 6em;
    background-color: green;
}


