





body {


    height: 100vh;
    margin: 0em;
    padding: 0em;

    /* background-color: pink; */

    display: flex;
    justify-content: center;
    align-items: center;

    
}


#contenedorGeneral {

    height: 36em;
    width: 24em;

    background-color: greenyellow;
}

#parteSuperior {

    height: 20em;
    background-color: tomato;


}

#parteSuperiorEncendido {

    height: 2.5em;
    background-color: gray;
}

#parteSuperiorPantalla {
    height: 14em;
    background-color: brown;
    display: flex;
    flex-direction: row;
}

#pantallaBordeIzquierdo {

    width: 2em;
    background-color: gray;
}

#pantallaCentral {

    width: 20em;
    background-color: orange;
}

#pantallaCentralArriba {

    height: 3em;
    background-color: pink;
    display: flex;
    flex-direction: row;
}
#matrixIzquierda {
    background-color: purple;
    width: 6em;
    border-radius: 1em 0em 0em 0em;
    display: flex;
    flex-direction: column;
    
}
#azul {
    background-color: red;
    height: 0.15em;
    margin-left: 1em;
    margin-top: 1em;
    
}
#roja {
    background-color: blue;
    height: 0.15em;
    margin-left: 1em;
    margin-top: 0.5em;

}
#matrix {
    background-color: blue;
    width: 11em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#letraMatrix {
    color: white;
    font-size: x-small;
    margin-bottom: 0.5em;
    font-family: 'Courier New', Courier, monospace;
}
#matrixDerecha {
    background-color: green;
    width: 3em;
    border-radius: 0em 1em 0em 0em;
}
#azul2 {
    background-color: red;
    height: 0.15em;
    margin-right: 1em;
    margin-top: 1em;

}
#roja2 {
    background-color: blue;
    height: 0.15em;
    margin-right: 1em;
    margin-top: 0.5em;
}

#pantallaCentralCristal {

    height: 9em;
    background-color: gainsboro;
    display: flex;
    flex-direction: row;

}

#botonBattery {

    width: 3em;
    background-color: purple;
    flex-direction: column;
}

#batteryArriba {
    background-color: blue;
    height: 2em;

}

#batteryCentral {
    background-color: brown;
    height: 2em;
}

#puntoBattery {
    background-color: gray;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

}
#iconoBattery {
    background: rgb(25,4,4);
    background: linear-gradient(90deg, rgba(25,4,4,1) 0%, rgba(70,19,19,1) 50%, rgba(172,9,9,1) 97%);
    height: 0.5em;
    width: 0.5em;
    margin-right: 1em;
    border-radius: 50%;
}
#letraBattery {
    background-color: gray;
    height: 1em;
    display: flex;
    justify-content: center;
    

}
#battery {
    background-color: gray;
    height: 0.5em;
    color: white;
    font-size: x-small;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    
}

#batteryAbajo {
    background-color: blue;
    height: 5em;


}

#lcd {

    width: 14em;
    background-color: black;
}

#lcdDerecha {

    width: 3em;
    background-color: purple;
}

#pantallaCentralAbajo {

    height: 2em;
    background-color: moccasin;
    display: flex;
    flex-direction: row;
}

#abajoIzquierda {
    width: 16em;
    background-color: red;
    border-radius: 0em 0em 0em 1em;

}

#abajoRadius {
    width: 4em;
    background-color: red;
    border-radius: 0em 0em 10em 0em;

}



#pantallaBordeDerecho {

    width: 2em;
    background-color: gray;
}

#parteSuperiorLogo {
    height: 3.5em;
    background-color: gray;
}

#parteCentral {

    height: 10em;
    background-color: yellow;
}

#parteInferior {

    height: 6em;
    background-color: green;
}


